
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.jumbotron {
    background-color: #f8f9fa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

